[flake8]
exclude =
    # Do not track .git dir
    .git,
    # Do not track virtualenv dir
    venv,
    # Ignore folders in gitignore
    dist,
    build,
    # Do not track pycache dirs
    __pycache__,
    .tox,

max-line-length = 80
ignore = W504

# Output config:
show-source = True
statistics = True
tee = True
output-file = .flake8.log
